JOULE_API_URL='https://joule-agent-integration.eu12.sapdas.cloud.sap'
JOULE_AUTH_URL='https://joule-agent-integration.authentication.eu12.hana.ondemand.com'
JOULE_API_DOCSTORE_URL='...'

JOULE_USERNAME=''
JOULE_PASSWORD=''

JOULE_CLIENT_ID='sb-das-designer!b970953|das-application-canary!b305237'
JOULE_CLIENT_SECRET=''

JOULE_DEFAULT_IDP=false
